@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    font-family: 'Dancing Script', cursive;
    background-image: url(../images/contact_texture.jpg);
}


 *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px 10px 50px;
    transition: 0.6s;
    z-index: 100000;
    overflow: hidden;
}

nav .logo-div {
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.6s;
    float: left;
}

nav .logo-div img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

nav .logo-div .logo {
    font-size: 2.8rem;
    text-decoration: none;
    color: white;
    font-family: 'Marck Script';
    font-weight: 600;
    letter-spacing: 3px;
}

nav .logo-div .logo span {
    color: orange;
    font-family: 'Grenze Gotisch';
}

nav .nav-bar {
    position: relative;
    float: right;
    padding: 10px;
    margin: 5px 0;
}

nav::after {
    content: '';
    display: block;
    clear: both;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    position: relative;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: white;
    margin: 0 15px;
    font-size: 1.5rem;
    font-family: 'Grenze Gotisch';
    letter-spacing: 1px;
    transition: 0.6s;
    padding: 0 2px;
}

nav ul li a.active {
    color: orange;
}

nav ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transition: all 0.6s;
}

nav ul li a:hover {
    color: orange;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li:last-child:hover::after {
    width: 0%;
}

nav.sticky {
    padding: 5px 35px;
    background-color: #000;
}


@media screen and (max-width: 1080px) {
    nav {
        padding: 20px 10px 10px;
    }
    nav .logo-div img {
        width: 55px;
        height: 55px;
    }
    nav .logo-div .logo {
        font-size: 2.2rem;
    }
    nav.sticky {
        padding: 5px 10px;
    }
    nav .nav-bar {
        padding: 5px;
    }
    nav .nav-bar ul li a {
        padding: 0;
        margin: 0 10px;
    }
}

@media screen and (max-width: 840px) {
    nav {
        padding: 20px 40px 10px 30px;
        background-color: #000;
        border-bottom: none;
    }
    .menu-toggle {
        display: block;
        width: 45px;
        height: 45px;
        float: right;
        margin: 10px;
        text-align: center;
        cursor: pointer;
        color: white;
        font-size: 32px;
        padding-top: 5px;
    }
    .menu-toggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
        transition: 0.4s;
    }
    .menu-toggle.active::before {
        content: '\f00d';
    }
    .nav-bar {
        display: none;
    }
    .nav-bar.active {
        display: block;
        width: 100%;
        background-color: #000;
    }
    .nav-bar.active ul {
        display: block;
        text-align: center;
    }
    .nav-bar.active li {
        padding: 10px 0;
    }
    .nav-bar.active li:last-child {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .menu-toggle {
        margin: 0px;
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    nav {
        padding: 20px 10px 10px;
    }
    nav .logo-div img {
        margin-right: 5px;
    }
    nav .logo-div .logo {
        font-size: 2.3rem;
        letter-spacing: 2px;
    }
}

@media screen and (max-width:340px) {
    nav .logo-div .logo {
        font-size: 2rem;
        letter-spacing: 2px;
    }
}

.xop-section {
	max-width: 960px;
	margin: 0 auto;
	padding: 6% 2%;
}

.xop-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.xop-grid:after {
	clear: both;
}

.xop-grid:after, .xop-box:before {
	content: '';
	display: table;
}

.xop-grid li {
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}
.xop-grid li {
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}

.xop-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.xop-box:hover {
	transform: scale(1.05); 
}
.xop-img-1 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/stuti.jpeg);
}

.xop-img-2 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/sakshi.jpeg);
}

.xop-img-3 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/ritika.jpeg);
}

.xop-img-4 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/kajol.jpeg);
}

.xop-info {
	position: absolute;
	width: inherit;
	height: inherit;
}

 h3 {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	color: #fff;
	font-size: 42px;
    margin-top: 0px;
	margin-bottom: 50px;
	padding: 10px 0 0 0;
	line-height: 1.5;
}
